<a href="https://colab.research.google.com/github/JoaoPedro2021/aula04_meu_primeiro_codigo1/blob/main/Aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Esse é o meu primeiro codigo em python!
##semelhança com pseudocodigo

In [ ]:
x = 5
if x == 5:
  y = 0
  while y < 4:
    print('Valor de é y', y)
    # print('\n') Essa linha codigo pula uma linha 
    y = y + 1
    print('\n')
    
    for i in [5,6,7,8,9]:
      print(i)
    print('\n')

    for i in range(10):
      print(i)
    print('\n')

    for i in range(5,10):
      print(i)
    print('\n')

    for i in range(5,10,2):
      print(i)
    print('\n')

Ctrl  + / Comenta o codigo
##Qual o tipo de variavel ?
##
##Voltando para semelhança com pseudocodigo
##
##Input

In [ ]:
# print(type(x))  Type uma função que devolve o tipo da variavel
# print(type("x"))
# input pede a entreda de dado fornecida pelo usuario
# nome = input('Escreva seu nome')
# print('o nome digitado foi ', nome)

In [ ]:
num  = int(input('Escreva um numero '))
print('você digitou o número', num)

Escreva um numero 2
você digitou o número 2

#Lista de exercio 23/07/2022

##Exercicio 1

In [ ]:
x = int(input("Digite um Número Inteiro"))
if type(x) == int:
  print("Você digitou um número inteiro", x)

Exercicio 2

In [ ]:
numReal = float(input("Digite um número"))
if type(numReal) == float:
  print("Você digitou um numero float", numReal)

Exercicio 3

In [ ]:
num1 = int(input("digite um numero "))
num2 = int(input("digite um numero "))
num3 = int(input("digite um numero "))

soma = num1 + num2 + num3
print(f'A soma dos numeros digitados resultou em: {soma}')

Exercicio 4

In [ ]:
num1 = int(input("digite um numero "))

result = num1 ** 2
print(f"O quadrado do numero {num1} resultou em: {result}")

Exercicio 5

In [ ]:
num1 = int(input("digite um numero "))

result = num1 / 5
print(f"A quinta parte  do numero {num1} resultou em: {result}")

Exercicio 6

In [2]:
num1 = int(input("digite a temperatura em celsius "))

eqEsc = (9/5) * num1 + 32 

result = (num1 * 1.8 + 32)
print(f"A Temperatura em Celsius {num1} convertida para Fahrenheit resultou em: {round(eqEsc,2)}")

digite a temperatura em celsius 30
A Temperatura em Celsius 30 convertida para Fahrenheit resultou em: 86.0

Exercicio 7

In [ ]:
num1 = int(input("digite um numero "))

result = (num1 + 273.15)
print(f"A Temperatura em Kelvin convertida para Celsius resultou em: {round(result,2)}")

Exercicio 8

In [15]:
# o import serve para importar um biblioteca que desejamos
# a biblioteca math serve para usarmos para algumas funções de matematica
import math as mat


num1 = int(input("digite o valor do angulo em graus "))
result = (2 *  mat.pi) / 360 * num1 

print(f"O valor do angulo {num1} em radiano é {round(result, 2)}")

digite o valor do angulo em graus 30
O valor do angulo 30 em radiano é 0.52

Exercicio 9

In [ ]:
num1 = int(input("digite um numero "))

result = num1 * 2.54

print(f"A conversão de {num1} em polegadas para centimetro resultou em: {result}")

Exercio 10

In [ ]:
num1 = int(input("digite um numero "))
num2 = int(input("digite um numero "))
num3 = int(input("digite um numero "))

result1 = num1 ** 2
result2 = num2 ** 2
result3 = num3 ** 2

soma = result1 + result2 + result3
print(f"A soma de todos os quadrados resultou em: {soma}")

Exercicio 11

In [ ]:
num1 = int(input("digite um numero "))
num2 = int(input("digite um numero "))
num3 = int(input("digite um numero "))
num4 = int(input("digite um numero "))

result = (num1 + num2 + num3 + num4) / 4

print(f"A média aritmética resultou em: {result}")

Exercicio 12

In [ ]:
num1 = int(input("digite um numero "))

atnNum = num1 - 1
suceNum = num1 + 1

print(f"O número digitado foi {num1} seu antecessor é {atnNum} e seu sucessor é {suceNum} ")

Exercicio 13

In [ ]:
num1 = int(input("digite um numero "))

numAnt = (num1 + 1) * 3
numSuc = (num1 - 1) * 2

print(f"O resultado da operação é {numAnt + numSuc}")

Exercicio 14

In [ ]:
num1 = int(input("digite o lado do quadrado "))

area = num1 * num1

print(f"A area do quadro é {area}")

Exercicio 15

In [ ]:
num1 = int(input("digite o valor do produto "))

valorDesconto = (12/100) * (num1)

valorFinal = num1 - valorDesconto

print(f"O valor final do produto ficou em {valorFinal}")

Exercio 16

In [ ]:
salario = int(input("Digite seu salario "))

salarioAumentado = (25 / 100) * salario

print(f"O seu novo salario é de {salarioAumentado + salario}")

Exercio 17

In [ ]:
num1 = int(input("digite o valor da hora de trabalho em reais "))
num2 = int(input("digite o numero de horas trabalhadas no mês "))

valorSerPago = num1 * num2

valorAcrescimo = (10/100) * (valorSerPago)

salarioFinal = valorSerPago + valorAcrescimo

print(f"O salario final será {salarioFinal}")

Exercio 18

In [ ]:
import datetime

dataAtual = datetime.datetime.now() 
idade = int(input("Digite sua idade "))

anoNasc = dataAtual.year - idade

print(f"O ano do seu nascimento é {anoNasc}")

Exercicio 20

In [ ]:
salarioBase = int(input("Digite seu salario base "))

salBaseAumentado = (5 / 100) * salarioBase
salarioDesconto = (7/100) * salarioBase

print(f"seu salario atual é de: R$ {(salarioBase + salBaseAumentado) - salarioDesconto}")

Exercicio 21

In [ ]:
num1 = int(input("Digite um numero "))
num2 = int(input("Digite outro numero "))

if num1 > num2:
    print(num1)
else:
    print(num2)

In [ ]:
a = 10
m = 9
#print(f"quantidade de aluno é {a} e a média é {m}")
# a letra f na frente da string permitir colocar uma variavel no meio da string

# codigo base

# x = 34 - 23
# y = "hello"
# z = 3.45
# if z == 3.45 or y == "hello":
#   x = x + 1
#   y = y + "world"
# print(x)
# print(y)

#Aula 05 

## Tipo de operações

In [10]:
a = 5
b = 6
c = 10

print(a + b)
print(b - c)
print(a * b)
print(6/5)
print(6%5)

11
-4
30
1.2
1